@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

a.active hr{
    display: block;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

*{
    font-family: Outfit;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}

@media (max-width: 640px){
  a.active{
    background-color: #c586a5;
  }
}

/* .swiper {
  width: 50%;
  height: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.swiper-slide img {
  display: block;
  width: 100%;
} */
